<canvas id="canvas" width="150" height="200"></canvas>

<script>

    const width = 150;
    const height = 150;
    
    const canvas = document.getElementById("canvas");

    const ctx = canvas.getContext('2d');
   
    const imageData = ctx.getImageData(0, 0, width, height);

    const numberBytes = imageData.data.length;

    const colors = JSON.parse("[[31,7,7,255],[47,15,7,255],[71,15,7,255],[87,23,7,255],[103,31,7,255],[119,31,7,255],[143,39,7,255],[159,47,7,255],[175,63,7,255],[191,71,7,255],[199,71,7,255],[223,79,7,255],[199,71,7,255],[223,79,7,255],[215,95,7,255],[207,111,15,255],[199,135,23,255],[191,159,31,255],[183,175,47,255],[207,207,111,255],[223,223,159,255],[239,239,199,255],[255,255,255,255],[183,175,47,255],[207,207,111,255],[223,223,159,255]]").reverse();

    let colorMap = new Array(height).fill(0);

    colorMap = colorMap.map(val => val = (new Array(width * 4).fill(colors.length - 1)));

    colorMap[height - 1] = colorMap[height - 1].map(val => (val = 0));

    let index = 298;

    const draw = () => {
        for (let y = 0; y < height; y++) {
            for (let x = 0; x < width; x++) {

                const color = colors[colorMap[y][x]];

                imageData.data[(y * width * 4) + (x * 4)] = color[0];
                imageData.data[(y * width * 4) + (x * 4) + 1] = color[1];
                imageData.data[(y * width * 4) + (x * 4) + 2] = color[2];
                imageData.data[(y * width * 4) + (x * 4) + 3] = 255;        
            }
        }

        ctx.putImageData(imageData, 0, 0)
    }

    const spreedFire = (index) => {

        for (let y = height - 2; y > 0; y--) {
            for (let x = 0; x < width; x++) {
                const randomX = Math.floor(Math.random() * 3);
                const randomY = Math.floor(Math.random() * 6);

                const nextX = Math.min(width - 1, Math.max(0, randomX + x -1));
                const nextY = Math.min(height - 1, Math.max(0, y - randomY));

                const prevValue = colorMap[y + 1][x];
                const newValue = prevValue + 1;

                colorMap[nextY][nextX] = newValue > colors.length - 1 ? colors.length - 1 : newValue;

            }
        }
    }

    requestAnimationFrame(function animate(){
        spreedFire(index);
        draw();
        requestAnimationFrame(animate);
   });
 
</script>